/* Colors */

$color-black:				#000000;
$color-white:				#ffffff;
$color-grey:				#3e3f4f;
$color-red:					#ea2d23;
$color-blue:				#5995b7;

/* Margins and padding */

$def-block-padding:			20px;
$def-margin-bottom:   		15px;
$def-footer-height:         140px;